body {
    background-color: rgb(51, 51, 51);
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color:rgb(224, 224, 224);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    padding: 1%;
    color: rgb(160, 160, 160);
}

h1{
    font-size: 1rem;
    display: inline;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 600px;
    margin-top: 5%;
}

#start-screen{
    text-align: center;
}

h2{
    font-size: 2rem;
    display: inline;
}

p{
    text-align: left;
}

#start-button{
    height: 75px;
    width: 200px;
    background-color:rgb(124, 0, 161);
    font-size: 2rem;
    display: inline;
    border-radius: 40px;
    /*How do I get the border radius to look good :/ */
}

#start:hover{
    background-color:rgb(0, 255, 76);
}

.answer-buttons{
    margin-top: 5%;
}

.answer{
    height: 50px;
    width: 300px;
    background-color: rgb(195, 0, 255);
    font-size: 1rem;
    border-radius: 25px;
    display: block;
    text-align: left;
    padding-left: 3%;
}

.answer:hover{
    background-color: rgb(221, 108, 255);
}

.testButton{
    background-color: rgb(255, 0, 85);
}